@font-face {
    font-family: 'NotoSans';
    src: url('/static/font/NotoSans-Regular.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFBEE;

    font-family: NotoSans, sans-serif;
    font-size: medium;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #345e98;
    background-color: #93afd5;
    font-family: inherit;
    font-size: medium;
    box-shadow: 2px 2px 2px 2px #b4b3b3;
}
button.active:not(:disabled), button:active:not(:disabled) {
    background-color: #b0c2da;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}
#up:disabled, #down:disabled, #right:disabled, #left:disabled, #center:disabled {
    background-color: #DEDEDE;
    color: #6A6969;
    border-color: #B7B7B7;
}

#outer-frame {
    display: grid;
    grid-template-columns: 1500px;
    grid-template-rows: 200px 850px;
    row-gap: 20px;
    column-gap: 20px;

    overflow-x: auto;
}

#info {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 70%;
    height: 100%;
    justify-self: center;
    align-self: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 150px;
    align-items: center;
    justify-items: center;
}
#info-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#info-streaming-server {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 250px;
    text-align: center;
    border: 2px solid #497AAD;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F3F5F8;
    box-shadow: 5px 5px 5px 1px #b4b3b3;
}
#info-ros-bridge-server {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 250px;
    text-align: center;
    border: 2px solid #497AAD;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F3F5F8;
    box-shadow: 5px 5px 5px 1px #b4b3b3;
}
h3 {
    color: #497AAD;
    text-decoration: underline;
}
.info-text {
    font-weight: bold;
    color: #768697;
}


#streaming-motion {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1200px 290px;
    grid-template-rows: 50px 400px 400px;
    column-gap: 10px;
}
#streaming-motion-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
}
#streaming-display {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}
#streaming-video {
    width: 100%;
    height: 100%;
    border: 2px solid #497AAD;
    border-radius: 10px;
    background-color: #F3F5F8;
    box-shadow: 5px 5px 5px 1px #b4b3b3;
}

#motion-control {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-rows: 50px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px;
    row-gap: 2px;
    column-gap: 2px;
}
#motion-control-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}
.motion-control-arrow {
    line-height: 0;
    font-size: 24px;
}
#up {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: #234D93;
    background-color: #9CADC7;
    border: 2px solid #758CB0;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
}
#up.active:not(:disabled), #up:active:not(:disabled) {
    background-color: #b0c2da;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}

#left {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #234D93;
    background-color: #9CADC7;
    border: 2px solid #758CB0;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;    
}
#left.active:not(:disabled), #left:active:not(:disabled) {
    background-color: #b0c2da;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}
#center {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    color: #A64B4B;
    background-color: #C79C9C;
    border: 2px solid #AB5858;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
}
#center.active:not(:disabled), #center:active:not(:disabled) {
    background-color: #D1ACAC;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}
#right {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;

    color: #234D93;
    background-color: #9CADC7;
    border: 2px solid #758CB0;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
}
#right.active:not(:disabled), #right:active:not(:disabled) {
    background-color: #b0c2da;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}
#down {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;

    color: #234D93;
    background-color: #9CADC7;
    border: 2px solid #758CB0;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
}
#down.active:not(:disabled), #down:active:not(:disabled) {
    background-color: #b0c2da;
    box-shadow: 2px 2px 2px 2px #7A7A7A;
    transform: translateY(4px);
}

#parameters-update {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 100px 150px;
    grid-template-rows: 50px 60px 60px 60px 60px;
    row-gap: 2px;
    align-items: center;
    justify-items: center;
}
#parameters-update-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
#bitrate-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#bitrate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#speed-preset-label {
    white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#speed-preset {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#resolution-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
#resolution {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#update-buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.parameter-field {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    outline: None;
    border: 2px solid #839DC6;
    width: 80px;
    text-align: center;
}