<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>StreamBot Controller</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/streaming-page-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id='outer-frame'>
        <div id='info'>
            <h1 id='info-header'>Servers Info</h1>
            <div id='info-streaming-server'>
                <h3>Streaming Server</h3>
                <p id='info-streaming-server-status'><span class='info-text'>status: </span></p>
            </div>
            <div id='info-ros-bridge-server'>
                <h3>ROS Bridge Server</h3>
                <p id='info-ros-bridge-server-status'><span class='info-text'>status: </span></p>
            </div>
        </div>
        <div id='streaming-motion'>
            <h1 id='streaming-motion-header'>Streaming & Robot Navigation</h1>
            <div id='streaming-display'>
                <iframe id="streaming-video" src="" scrolling="no" autoplay allowfullscreen srcdoc="<div style='display:flex;flex-direction:column;justify-content:center;align-items:center;height:100vh;'><p>No video stream!</p><img style='height:100px; width:100px' src='{{ url_for('static', filename='images/error.svg') }}'></div>"></iframe>
            </div>
            <div id='motion-control'>
                <h3 id='motion-control-header'>Motion Control</h3>
                <button id='up' disabled>
                    <p class='motion-control-arrow'>W</p>
                </button>
                <button id='left' disabled>
                    <p class='motion-control-arrow'>A</p>
                </button>
                <button id='center' disabled>
                    <p class='motion-control-arrow'>S</p>
                </button>
                <button id='right' disabled>
                    <p class='motion-control-arrow'>D</p>
                </button>
                <button id='down' disabled>
                    <p class='motion-control-arrow'>X</p>
                </button>
            </div>
            <div id="parameters-update">
                <h3 id="parameters-update-header">Streaming Parameters Customization</h3>
                <label id='bitrate-label' for="bitrate"><span class='info-text'>bitrate</span></label>
                <input type="text" id="bitrate" class='parameter-field' disabled autocomplete="off">
                <label id='speed-preset-label' for="speed-preset"><span class='info-text'>speed preset</span></label>
                <input type="text" id="speed-preset" class='parameter-field' disabled autocomplete="off">
                <label id="resolution-label" for="resolution"><span class='info-text'>resolution</span></label> 
                <input type="text" id="resolution" class='parameter-field' disabled autocomplete="off">
                <div id='update-buttons'>
                    <button id="edit" disabled>Edit</button>
                    <button id="default" disabled>Default</button>
                    <button id="update" disabled>Update</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2@6.4.9/lib/eventemitter2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
<script type="text/javascript">
    let streaming_server_ip = "{{ streaming_server_ip }}";
    let ros_bridge_server_ip = "{{ ros_bridge_server_ip }}"

    let post_request_route = "{{ url_for('send_parameters_to_server') }}";
</script>
<script src="{{ url_for('static', filename='/js/streaming-page-js.js') }}"></script>
</html>